#weatherMainBlock{
  display: block;
  padding: 3%;
  min-height: 88.5%;
  background: linear-gradient(180deg,skyblue 0%, rgba(8,7,42,1));
  font-family: 'Arial', Arial, Georgia, Verdana sans-serif;
}

.searchBox{
  position: page;
  padding-bottom: 5px;
  padding-left: 44%;
}
