//html,
//body {
//  height: 100%;
//  margin: 0;
//}

#weatherMainBlock{
  display: flex;
  flex-flow: column;
  padding: 3%;
  height: 100%;
  background: linear-gradient(45deg,skyblue 0%, midnightblue);
  font-family: 'Arial', Arial, Georgia, Verdana sans-serif;
}

.searchBox{
  position: relative;
  padding-bottom: 25px;
  padding-left: 75px;
  justify-content: center;
  display: flex;
}
